/* font-family: 'Raleway',
sans-serif; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
}
body {
font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

/* Common styles */

/* Header section*/
.header-list {
  list-style: none;
}
.header-mail {
   color: var(--primary-text-color); 
}
.header-phone {
    color: var(--primary-text-color);
}
.header-phone:hover, 
.header-mail:hover,
.header-phone:focus,
.header-mail:focus {
    color: var(--accent-color);
}

.header-link-current {
  color: var(--accent-color);
}
/* Main-section */
.hero-title {
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  background-color: var(--secondary-bg-color);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
left: 700px;
    top: 430px;
}
/* Features section */
.features-list {
  list-style: none;
}

.features-subtitle {
  color: var(--title-text-color);
}
/* About section */
.about-list {
  list-style: none;
}
.about {
  background-color: var(--main-bg-color);
}
.section-title {
  color: var(--title-text-color);
}
/* Team section */
.team-list {
  list-style: none;
}
.team {
  background-color: var(--third-bg-color);
}
.team-uppertitle {
  color: var(--title-text-color);
}
.team-item {
  background-color: var(--primary-white-color);
}

/* Portfolio */
.main-list {
    list-style: none;
}
.main-btn {
    cursor: pointer;
}
.main-service {
    color: var(--title-text-color);
}
.main-items {
    list-style: none;
}